rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // ⚠️ REGLAS ABIERTAS PARA DESARROLLO ⚠️
    // PERMITEN LECTURA Y ESCRITURA PARA TODO
    // ⚠️ NO USAR EN PRODUCCIÓN ⚠️
    
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
